<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AC</key>
	<dict>
		<key>Capital</key>
		<string>69900100</string>
		<key>Interior</key>
		<string>69990000</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>Capital</key>
		<string>57039170</string>
		<key>Interior</key>
		<string>57300340</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>Capital</key>
		<string>69057021</string>
		<key>Interior</key>
		<string>69735000</string>
	</dict>
	<key>AP</key>
	<dict>
		<key>Capital</key>
		<string>68900098</string>
		<key>Interior</key>
		<string>68990000</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>Capital</key>
		<string>40130000</string>
		<key>Interior</key>
		<string>44572610</string>
	</dict>
	<key>CE</key>
	<dict>
		<key>Capital</key>
		<string>60160150</string>
		<key>Interior</key>
		<string>63870000</string>
	</dict>
	<key>DF</key>
	<dict>
		<key>Capital</key>
		<string>70705913</string>
		<key>Interior</key>
		<string>73310000</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>Capital</key>
		<string>29052640</string>
		<key>Interior</key>
		<string>29375000</string>
	</dict>
	<key>GO</key>
	<dict>
		<key>Capital</key>
		<string>74075320</string>
		<key>Interior</key>
		<string>76680000</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>Capital</key>
		<string>65076250</string>
		<key>Interior</key>
		<string>65465000</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>Capital</key>
		<string>31270901</string>
		<key>Interior</key>
		<string>38183184</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>Capital</key>
		<string>79031960</string>
		<key>Interior</key>
		<string>79380000</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>Capital</key>
		<string>78005190</string>
		<key>Interior</key>
		<string>78370000</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>Capital</key>
		<string>66115000</string>
		<key>Interior</key>
		<string>68658000</string>
	</dict>
	<key>PB</key>
	<dict>
		<key>Capital</key>
		<string>58039010</string>
		<key>Interior</key>
		<string>58340000</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>Capital</key>
		<string>50060230</string>
		<key>Interior</key>
		<string>55030280</string>
	</dict>
	<key>PI</key>
	<dict>
		<key>Capital</key>
		<string>64046010</string>
		<key>Interior</key>
		<string>64138000</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>Capital</key>
		<string>80220080</string>
		<key>Interior</key>
		<string>85813010</string>
	</dict>
	<key>RJ</key>
	<dict>
		<key>Capital</key>
		<string>22070001</string>
		<key>Interior</key>
		<string>27123020</string>
	</dict>
	<key>RN</key>
	<dict>
		<key>Capital</key>
		<string>59015900</string>
		<key>Interior</key>
		<string>59200000</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>Capital</key>
		<string>76820408</string>
		<key>Interior</key>
		<string>76940000</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>Capital</key>
		<string>90030140</string>
		<key>Interior</key>
		<string>97105030</string>
	</dict>
	<key>RR</key>
	<dict>
		<key>Capital</key>
		<string>69304560</string>
		<key>Interior</key>
		<string>69373000</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>Capital</key>
		<string>88015702</string>
		<key>Interior</key>
		<string>89810822</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>Capital</key>
		<string>49032010</string>
		<key>Interior</key>
		<string>49400000</string>
	</dict>
	<key>SP</key>
	<dict>
		<key>Capital</key>
		<string>01402002</string>
		<key>Interior</key>
		<string>15013230</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>Capital</key>
		<string>77022320</string>
		<key>Interior</key>
		<string>77403010</string>
	</dict>
</dict>
</plist>
